@keyframes partyAnimation {
    0% {
      transform: rotate(0deg) translateX(0px);
    }
    25% {
      transform: rotate(90deg) translateX(100px);
    }
    50% {
      transform: rotate(180deg) translateX(0px);
    }
    75% {
      transform: rotate(270deg) translateX(-100px);
    }
    100% {
      transform: rotate(360deg) translateX(0px);
    }
  }
  
  .party-div {
    position: relative;
    animation: partyAnimation 2s ease-in-out infinite;
  }

  .party-active {
    animation: partyAnimation 4s linear;
  }

  .hidden {
    opacity: 0;
  }